/* Page reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Mobile design */
@media screen and (max-width: 1199px){
  body{
    background-color: #d4d5f7;
    color: #0a071b;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -1px;
  }
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, 
  input[type=number]:focus, input[type=tel]:focus{
  outline: 1px solid #5138ee;
  }
  #gifContainer{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(120, 120, 120, 0.5);
  }
  #gifElement{
    width: 150px;
    height: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  form{
    width: 95%;
    margin: 1rem auto;
    background-color: white;
    padding: 1rem 1.5rem;
  }
  header{
    text-align: center;
    padding: 1rem 0;
    color: #0a071b;
    font-size: 0.8rem;
  }
  .lineContent{
    margin: 0.5rem 0;
    text-align: center;
  }
  label{
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
  input[type=checkbox]{
    width: 15px;
    height: 15px;
    border-radius: 10px;
  }
  input[type=text], input[type=email], input[type=url], input[type=password]{
    display: inline-block;
    width: 100%;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
    border: 2px solid #e1dfec;
    border-radius: 25px;
    margin-right: 0.5rem;
  }
  input[type=tel]{
    width: 150px;
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
    border: 2px solid #e1dfec;
    border-radius: 25px;
  }
  input[type=number]{
    width: 100px;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    border: 2px solid #e1dfec;
    border-radius: 25px;
  }
  #mobileWidth{
    max-width: 310px;
    margin: 0 auto;
  }
  input[type=range]{
    width: 100%;
  }
  #errorListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color: red;
  }
  #errorListContainer h2, #errorListContainer ul{
    width: 275px;
  }
  #errorListContainer ul{
    margin: 1rem;
  }
  #errorListContainer li{
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .submitSec{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1rem;
  }
  .submitSec #submitBtn{
    font-size: 1rem;
    padding: 0.8rem 4rem;
    background-color: #5138ee;
    color: white;
    outline: none;
    border: none;
    border-radius: 25px;
  }
}

/* Desktop and Tablet design*/
@media screen and (min-width: 1200px) {
  body{
    background-color: #d4d5f7;
    color: #0a071b;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -1px;
  }
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus{
    outline: 1px solid #5138ee;
  }
  #gifContainer{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(120, 120, 120, 0.5);
  }
  #gifElement{
    width: 300px;
    height: 300px;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  form{
    max-width: 55%;
    margin: 4rem auto;
    background-color: white;
    padding: 2rem 1rem;
  }
  header{
    text-align: center;
    padding: 1rem;
    color: #0a071b;
  }
  #formContent{
    margin-left: 5rem;
    margin-right: 2rem;
  }
  .lineContent{
    margin: 1rem 0;
  }
  .leftSide{
    width: 150px;
  }
  #showPassLine{
    margin-left: 11rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  label{
    display: inline-block;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  input[type=checkbox]{
    width: 15px;
    height: 15px;
    border-radius: 10px;
  }
  input[type=text], input[type=email], input[type=url], input[type=password]{
    display: inline-block;
    width: 250px;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
    border: 2px solid #e1dfec;
    border-radius: 25px;
  }
  input[type=number]{
    width: 100px;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    border: 2px solid #e1dfec;
    border-radius: 25px;
  }
  input[type=tel]{
    width: 150px;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
    border: 2px solid #e1dfec;
    border-radius: 25px;
    margin-right: 0.5rem;
  }
  .rightSide{
    display: inline-block;
    width: 310px;
  }
  input[type=range]{
    width: 250px;
  }
  #errorListContainer{
    margin: 1rem 0;
    color: red;
  }
  #errorListContainer ul{
    margin: 1rem;
  }
  #errorListContainer li{
    color: red;
    font-weight: bold;
  }
  .submitSec{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }
  .submitSec #submitBtn{
    font-size: 1.2rem;
    padding: 0.8rem 6rem;
    margin-bottom: 1rem;
    background-color: #5138ee;
    color: white;
    outline: none;
    border: none;
    border-radius: 25px;
  }
}